:root {
  /* Fonts */
  --TitleFont: "Rubik", sans-serif;

  /* Colors */
  --PrincipalColor: #3cdbc0;
  --MenuTextColor: #4a4a4a;
  --TitleFontColor: #ffffff;
}

/* HEADER */
.header-container {
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  padding: 10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Logo */
.image-container {
  margin-bottom: 10px;
}

.logo-adalab {
  width: 155px;
  height: 61px;
}

/* Menu */
.nav-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 3px;
}

.menu-container {
  list-style-type: none;
  text-align: center;
  display: flex;
}

.menu-item {
  color: var(--MenuTextColor);
  text-decoration: none;
  font-family: var(--TitleFont);
  font-size: 16px;
  text-transform: uppercase;
}

.menu-item {
  font-weight: bold;
}
.blog {
  margin-right: 10px;
}

.contact {
  margin-left: 10px;
}

/* MAIN */
.main {
  background-color: var(--PrincipalColor);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-item {
  color: var(--TitleFontColor);
  font-family: var(--TitleFont);
  font-size: 30px;
  text-align: center;
}

/* Responsive version */
@media all and (min-width: 768px) {
  .header-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    box-sizing: border-box;
  }

  .image-container {
    margin: 0;
  }

  .nav-menu {
    padding-bottom: 0;
    justify-content: flex-end;
    margin: 0;
  }

  .title-item {
    font-size: 40px;
  }
}
